<div class="jumbotron">
  <h1>tÄstr</h1>
  <p class="text-info">a place to find and share recipes</p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more<!-- </a></p> -->
</div>
<!-- <div class="list-group">
  <%# @recipes.each do |recipe| %>
    <%#= link_to "#{recipe.recipe_name}", recipe_path(recipe), class: "list-group-item" %>
  <%#end%>
</div> -->
<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag recipe.recipe_pic.url %>
        <div class="caption">
          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><%= recipe.recipe_name %></h3></div>
            <p class="panel-body"><%= recipe.description %></p>
          </div>
          <p>Likes  <span class="badge"><%= recipe.likes.count %></span></p>
          <p>
            <%= link_to "View Recipe", recipe_path(recipe), class: "btn btn-primary", role: "button" %>
            <%= link_to "Like", recipe_like_path(recipe, from: "index"), class: "btn btn-default" if current_user && !current_user.likes.find_by(recipe_id: recipe.id) %>
          </p>
          <p>
            <%# if current_user == recipe.user %>
              <%#= link_to "Edit Recipe", edit_recipe_path(recipe), method: :delete, class: "text-primary" %>
              <%#= link_to "Delete Recipe", recipe_path(recipe), method: :delete, class: "text-danger" %>
            <%# else %>
              <%= link_to "More from #{recipe.user.name}", user_recipes_path(recipe.user) %>
            <%# end %>
          </p>
        </div>
      </div>
    </div>
  <%end%>
</div>
