<h3>post a recipe</h3>

<div class="container">
<%= form_for @recipe do |f| %>
  <div class="input-group"><%= f.text_field :recipe_name, class: "form-control", placeholder: "Recipe name" %></div><br>
  <div class="input-group"><%= f.text_field :description, class: "form-control", placeholder: "Describe your recipe" %></div><br>
  <div class="input-group"><%= f.text_field :prep_time, class: "form-control", placeholder: "Prep time (ex. 5 min)" %></div><br>
  <div class="input-group"><%= f.text_field :cook_time, class: "form-control", placeholder: "Cook time (ex. 10 min)" %></div><br>
  <div class="input-group"><%= f.text_field :total_time, class: "form-control", placeholder: "Total time (ex. 15 min)" %></div><br>
  <div class="input-group"><%= f.text_field :cooking_instruction, class: "form-control", placeholder: "Step-by-step instructions" %></div><br>
  <div class="input-group"><%= f.file_field :recipe_pic, class: "btn btn-default", placeholder: "upload a pic" %></div><br>

  <%= f.submit "Add Recipe", class: "btn btn-default"%><br>
<%end%>
</div>
<br><%= link_to 'Back', recipes_path, class: "btn btn-default" %>

<!-- type: "button", class: "btn btn-default" -->
