<h3>post a recipe</h3>

<div class="container row col-xs-4 col-xs-offset-4">

  <%= form_for @recipe do |f| %>
    <div class="form-group">
      <%= f.text_field :recipe_name, class: "form-control", placeholder: "Recipe name" %>
    </div><br>

    <div class="form-group">
      <%= f.text_field :description, class: "form-control", placeholder: "Describe your recipe" %>
    </div><br>

    <div class="form-group">
      <label class="btn btn-default btn-file">
        tāsty pic <%= f.file_field :recipe_pic, class: "form-control", style: "display: none", onchange: "$('#upload-file-info').html($(this).val());" %>
      </label>
      <span class="text-primary" id="upload-file-info"></span>
    </div><br>

    <div class="form-group">
      <%= f.text_field :prep_time, class: "form-control", placeholder: "Prep time (ex. 5 min)" %>
    </div><br>

    <div class="form-group">
      <%= f.text_field :cook_time, class: "form-control", placeholder: "Cook time (ex. 10 min)" %>
    </div><br>

    <div class="form-group">
      <%= f.text_field :total_time, class: "form-control", placeholder: "Total time (ex. 15 min)" %>
    </div><br>

    <div class="form-group">
      <%= f.text_area :cooking_instruction, class: "form-control", placeholder: "Step-by-step instructions" %>
    </div><br>


    <%= f.submit "Add Recipe", class: "btn btn-default"%><br>

  <%end%>

  <br><%= link_to 'Back', recipes_path, class: "btn btn-default" %>
</div>

