<h1><%= @recipe.recipe_name %></h1>

<!-- picture of recipe -->

<div>
  <ul>
    <li><br><p>Description: </p><%= @recipe.description %></li>
    <li><br><p>Cooking Instructions: </p><%= @recipe.cooking_instruction %></li>
    <li><br><p>Prep Time : </p><%= @recipe.prep_time %></li>
    <li><br><p>Cook Time: </p><%= @recipe.cook_time %></li>
    <li><br><p>Total Time: </p><%= @recipe.total_time %></li>
  </ul>
<div>
