<h1><%= @recipe.recipe_name %></h1>

<!-- picture of recipe -->

<div>
  <ul>
    <li><%= @recipe.description %></li>
    <li><%= @recipe.cooking_instruction %></li>
    <li><%= @recipe.prep_time %></li>
    <li><%= @recipe.cook_time %></li>
    <li><%= @recipe.total_time %></li>
  </ul>
<div>
