
<div class="page-header">
  <h1><%= @recipe.recipe_name %></h1>
</div>

<%= image_tag @recipe.recipe_pic, class: "img-thumbnail" %>


<div class="center-block">
  <ul class="list-group">
    <li class="list-group-item">Prep time: <span class="badge"><%= @recipe.prep_time %></span></li>
    <li class="list-group-item">Cook time: <span class="badge"><%= @recipe.cook_time %></span></li>
    <li class="list-group-item">Total time: <span class="badge"><%= @recipe.total_time %></span></li>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Cooking Instructions</h3>
  </div>
  <div class="panel-body">
    <%= @recipe.cooking_instruction %>
  </div>
</div>

<div class="container">
  <%= link_to "#{@recipe.user.name}'s Recipes", user_recipes_path(@recipe.user), class: "btn btn-default" %>
  <%= link_to "tÄstr", root_path, class: "btn btn-default" %>
</div>
