<h1>Edit your profile</h1>
<%= form_for @user, method: :patch do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="input-group">
    <%#= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div><br>
  <div class="input-group">
    <%#= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div><br>
 <!--  <div class="input-group">
    <%#= f.label :password %>
    <%#= f.password_field :password, class: "form-control", placeholder: "password" %>
  </div><br>
  <div class="input-group">
    <%#= f.label :password_confirmation %>
    <%#= f.password_field :password_confirmation, class: "form-control", placeholder: "confirm password" %>
  </div><br> -->
  <div class="input-group">
    <%#= f.label :photo_url %>
    <%= f.text_field :photo_url, class: "form-control" %>
  </div><br>
  <div class="input-group">
    <%#= f.label :about_me %>
    <%= f.text_field :about_me, class: "form-control" %>
  </div><br>
  <div class="actions"><%= f.submit "Submit", class: "btn btn-default" %></div>
<% end %>
</div>
