<h1>sign up for tÄstr</h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container row col-xs-4 col-xs-offset-4">
  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "name" %>
  </div><br>
  <div class="form-group">
    <%= f.text_field :email, class: "form-control", placeholder: "email" %>
  </div><br>
  <div class="form-group">
    <%= f.password_field :password, class: "form-control", placeholder: "password" %>
  </div><br>
  <div class="form-group">
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "confirm password" %>
  </div><br>
  <div class="form-group">
    <%= f.text_area :about_me, class: "form-control", placeholder: "about me" %>
  </div><br>
  <div class="actions"><%= f.submit "Sign Up", class: "btn btn-default" %></div>
<% end %>
</div>
