
  <div class="container">
    <div class="float-left">
        <%= image_tag @recipes[0].user.user_pic, class: "img-thumbnail" %>
    </div>
    <div class="float-right">
      <h3 class="foat-right"><%= @recipes[0].user.name %></h3>
      <%= @recipes[0].user.about_me %>
    </div>
  </div>

<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag recipe.recipe_pic.url %>
        <div class="caption">
          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><%= "#{recipe.recipe_name}" %></h3></div>
            <p class="panel-body"><%= "#{recipe.description}" %></p>
          </div>
          <p>Likes  <span class="badge"><%= recipe.likes.count %></span></p>
          <p>
            <%= link_to "View Recipe", recipe_path(recipe), class: "btn btn-primary", role: "button" %>
            <%= link_to "Like", recipe_like_path(recipe, from: "user", recipe_user: recipe.user.id), class: "btn btn-default" if current_user && !current_user.likes.find_by(recipe_id: recipe.id) %>
          </p>
          <p>
            <% if current_user == recipe.user %>
              <%= link_to "Edit Recipe", edit_recipe_path(recipe), class: "text-primary" %>
              <%= link_to "Delete Recipe", recipe_path(recipe), method: :delete, class: "text-danger" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <%= link_to "tÄstr", root_path, class: "btn btn-default" %>
</div>

